
<div class="media  col-6">
    <img src="{{image_url}}" class="mr-3" alt="...">
    <div class="media-body">
        <h5 class="mt-0">{{title}} by {{author.firstName}} {{author.lastName}} </h5>
        {{description}}.
    </div>
</div>
